.lang-1{
  z-index: 2;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.lang-1 p{
  margin: 3px 5px 0 5px;
}

.checkbox{
  display: flex;
  --width: 40px;
  --height: 20px;
  --offset: 1px;
  --duration: 0.3s;
  cursor: pointer;
}

.checkbox_div{
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--width);
  border-color: black;
  background-color: red;
  background-size: contain;
  transition: var(--duration);
}

.checkbox_input {
  display: none;
}

.checkbox_input:checked ~ .checkbox_div {
  background-color: green;
  background-size: contain;
}

.checkbox_input:checked ~ .checkbox_div::before {
  background-color: white;
  left: calc(var(--width) - var(--height) + var(--offset));
}

.checkbox_div::before {
  content: '';
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  width: calc(var(--height) - 2 * var(--offset));
  height: calc(var(--height) - 2 * var(--offset));
  background-color: white;
  border-radius: 50%;
  transition: var(--duration);
}


.info_about_order{
  display: flex;
}

#change_order_data_btn, #save_order_data_btn{
  color: blue;
  text-decoration: underline;
  margin-left: auto;
  width: fit-content;
  display: block;
}
