@media (max-width: 990px){
	.other_order_amount{
		margin-right: auto;
	}
}

@media (max-width: 767px){
	.in_order span{
		font-size: 20px;
	}

	.other_orders{
		padding: 0;
	}

	.other_order{
		display: block;
		padding: 20px 0;
	}

	.other_order_img{
		min-height: 200px;
		margin-right: 0;
	}

	.other_order_name{
		text-align: center;
	}

	.other_order_name p{
		padding-right: 0;
		font-size: 20px;
	}

	.other_order_amount{
		margin: 10px auto;
		text-align: center;
		width: 100%;
		font-size: 18px;
	}

	.other_order_price{
		text-align: center;
		margin-top: 10px;
		font-size: 18px;
	}
}

@media (max-width: 560px){
	.other_order_img{
		max-width: 100%;
	}
}