@font-face {
  font-family: Geometria-Regular;
  src: url(/static/fonts/Geometria-Regular.ttf);
}

@font-face {
  font-family: Geometria-Medium;
  src: url(/static/fonts/Geometria-Medium.ttf);
}

@font-face {
  font-family: Geometria-Bold;
  src: url(/static/fonts/Geometria-Bold.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background-color: white;
    color: black;
    /* Другие стили для белого режима */
}

body, button, input[type="text"]::placeholder, input[type="text"], p {
	margin: 0;
	font-family: "Geometria-Regular";
}

h1, h2, h3, h4, h5, h6, b {
    font-family: "Geometria-Medium"
}

.main_content {
    flex: 1;
}

.block {
	width: 100%;
}

.container {
	width: 1100px;
	margin: 0 auto 40px auto;
}

.navbar-block {
	box-shadow: 0px 1px 3px gray;
	background: white;
}

.navbar {
	display: flex;
	height: 40px;
	padding: 15px 0;
}

.navbar .logo-img {
	height: 35px;
	margin-right: 40px;
}

.navbar form, #sliders-block-main-page form {
	border: 1px solid #F15D5B;
	border-radius: 20px;
	padding: 3px;
}

.navbar form input[type="text"], #sliders-block-main-page form input[type="text"] {
	border: 0px;
	outline: none;
	height: 30px;
	width: 230px;
	font-size: 13px;
	padding-left: 15px;
	border-radius: 20px;
}

.navbar form input[type="text"]::placeholder, #sliders-block-main-page form input[type="text"]::placeholder {
	color: #F15D5B;
	font-size: 13px;
}

.navbar form button, #sliders-block-main-page form button {
	border: none;
	border-radius: 20px;
	height: 32px;
	color: white;
	background-color: #F15D5B;
	padding: 7px;
	width: 65px;
	font-size: 13px;
}

#sliders-block-main-page form {
    display: none;
    align-items: center;
}

#sliders-block-main-page form button {
    margin-left: auto;
}

.navbar .wishlist-btn, .navbar .cart-btn {
	border: 1px solid #F15D5B;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.navbar .wishlist-btn {
    margin-left: auto;
    color: #f15d5b;
    margin-right: 15px;
}

.navbar .wishlist-btn img, .navbar .cart-btn img {
	margin-right: 10px;
	width: 20px;
}

.navbar .cart-btn {
	color: white;
	background-color: #f15d5b;
}

.footer-block {
    flex-shrink: 0;
	background-color: #272727;
	height: 280px;
	margin-top: 100px;
	padding-top: 50px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

.footer-container {
	display: flex;
}

.footer-container * {
	margin-top: 0px;
	color: white;
	margin-left: auto;
}

.footer-container a {
	margin-left: 0;
}

.footer-container a img {
	width: 230px;
	margin-left: 0;
	
}

.footer-container p {
	margin-bottom: 10px;
	width: 200px;
}

.footer-container .cities h3 {
	margin-bottom: 3px;
}

.footer-container .cities p {
	margin-bottom: 50px;
}

.footer-container {
	margin-bottom: 0;
}

.hamburger-menu {
	margin-left: auto;
	display: none;
	z-index: 5000;
}

#leave_request_window, #request-form {
    display: none;
    background: rgba(102, 102, 102, 0.75);
    position: fixed;
    width: 100%;
    height: 100%;
}

#leave_request_window-book_poster {
    border: 1px solid black;
    background-image: url(/static/imgs/book_poster.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 75px;
    height: 75px
}

#leave_request_window:target, #request-form:target {
    display: block;
}

#leave_request_window form, #request-form form {
    background: white;
    width: 50%;
    margin: 15% auto auto auto;
    padding: 30px;
    min-width: fit-content;
}

#leave_request_window h5, h6 {
    margin: 5px 0;
}

#leave_request_window .book_count {
    width: 45px;
    outline: none;
}

#leave_request_window .form input, #request-form .form input {
    width: 200px;
    height: 25px;
    padding: 0 5px;
    outline: none;
    margin-bottom: 8px;
}

#leave_request_window .form button, #request-form .form button {
    background: black;
    color: white;
    width: 175px;
    height: 27px;
    margin-top: 25px;
    border: none;
    font-size: 12px;
}

.x_window {
    margin-left: auto;
    height: 20px;
    width: 20px;
}

.burger {
    display: none;
    flex-direction: column;
    align-items: baseline;
    padding-top: 80px;
    position: fixed;
    width: 70%;
    height: 100%;
    background: #f9f9f9;
    z-index: 4000;
    top: 0;
    right: 0;
    padding-left: 47px;
    box-shadow: -1px 0px 3px gray;
}

.burger h3 {
    margin-bottom: 0px;
}

.burger a {
    text-decoration: none;
    color: black;
}

.burger input {
    width: 100%;
    padding: 5px;
    border: 1px solid #f36b68;
    font-family: 15px;
    border-right: none;
}

.burger button {
    width: 50%;
    padding: 10px;
    border: 1px solid #f36b68;
    font-family: 15px;
    border-left: none;
    background: #f36b68;
    color: white;
}