@media(max-width: 1100px) {
	.book-block .text {
		width: 470px;
	}
}

@media(max-width: 850px) {
	.book-block .book_poster_img {
		width: 230px;
		height: 350px;
		margin-right: 30px;
	}

	.book-block .text {
		width: 390px;
	}
}

@media(max-width: 670px) {
	.book-block .options {
		display: none;
	}

	.book-block .mobile_options {
		display: block;
		margin-top: 10px;
	}

	.book-block .mobile_options span {
		font-size: 13px;
	}

	.book-block .mobile_options .option_value {
	    width: 50%;
	}

	.book-block .book_poster_img {
		height: 165px;
		margin-right: 10px;
	}

	.book-block .text h3 {
		font-size: 15px;
		margin-top: 3px;
		margin-bottom: 10px;
	}

	.book-block .text .counter {
		display: block;
	}

	.book-block .action_btns input {
		display: none;
	}

	.book-block .action_btns button {
		width: 100%;
		margin-bottom: 10px;
	}

	.book-block .action_btns .buy_btn {
		margin-top: 20px;
	}

	.book_cards .book_card .action_btns .buy_btn {
		margin-top: 0;
		margin-bottom: 0;
		padding: 2px 10px;
	}
}