@media(max-width: 1100px) {
	.slider_block {
		height: 300px;
	}

	.categories_block .category_card h2 {
		font-size: 17px;
	}

	.categories_block .category_card .category_card_img {
		width: 80px;
	}

	.certificate-block img {
		width: 250px;
		margin-top: 50px;
	}

	.certificate-block .text {
		margin-top: 40px;
	}

	.certificate-block .text h1 {
		font-size: 20px;
	}

	.certificate-block .text p {
		font-size: 17px;
	}

	.certificate-block {
	    height: 265px;
	}

	.offices-block img {
		width: 590px;
		height: 330px;
	}

	.languages-block .language_cards .language_card {
		width: 337px;
	}

	.languages-block {
		height: 970px;
	}

	.coffee-container {
		padding-top: 45px;
	}

	.coffee-block {
	    height: 350px;
	}
}

@media(max-width: 850px) {
	.slider_block {
		height: 230px;
	}

	.categories_block .category_card h2 {
		margin: 20px;
		font-size: 13px;
	}

	.categories_block .category_card .category_card_img {
		width: 65px;
	}

	.certificate-block img {
	    width: 180px;
	    margin: 35px 50px auto 50px;
	}

	.certificate-block .text {
	    margin-top: 10px;
	}

	.certificate-block .text h1 {
	    font-size: 15px;
	}

	.certificate-block .text p {
	    font-size: 13px;
	}

	.certificate-block button {
        font-size: 13px;
        width: 145px;
    }

	.certificate-block {
		height: 190px;
	}

	.offices-block img {
	    width: 350px;
	    height: 200px;
	}

	.languages-block .language_cards .language_card {
	    width: 100%;
	}

	.languages-block .language_cards .language_card h1 {
		font-size: 25px;
	}

	.languages-block .language_cards .language_card p {
		font-size: 15px;
	}

	.languages-block .language_cards .language_card button {

	}

	.languages-block {
		height: 1670px;
	}

	.coffee-block {
		height: 250px;
	}

	.coffee-container {
	    padding-top: 30px;
	}

	.coffee-container p {
		font-size: 15px;
    	width: 300px;
	}

	.coffee-container h2 {
		font-size: 20px;
	}

	#sliders-block-main-page form {
	    display: flex;
    }
}

@media(max-width: 630px) {
    .certificate-block img {
        margin: 15px 25px auto 25px;
    }

    .certificate-block .text h1 {
        font-size: 13px;
    }

    .certificate-block .text p {
        font-size: 11px;
    }

    .certificate-block .text {
        margin-top: 9px;
        margin-right: 9px;
    }

    .certificate-block {
        height: 150px;
    }

    .certificate-block button {
        font-size: 11px;
        width: 130px;
    }

	.languages-block .text {
		flex-direction: column;
		align-items: baseline;
	}

	.languages-block .text p {
	    margin-top: 10px;
	    margin-left: 0px;
	}

	.languages_container {
	    padding: 40px 30px;
	    margin-top: 40px;
	}

	.languages-block {
	    height: 1700px;
	}

	.slider_block {
		flex-direction: column;
		gap: 10px;
		height: 355px;
		margin-bottom: 20px;
	}

	.categories_block {
		margin-left: 0;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		gap: 10px;
	}

	.slider_block .sliders {
		width: 100%;
	}

	.categories_block .category_card {
		width: 153.3px;
		height: 90px;
		margin-bottom: 0px;
	}

	.offices-block img {
		display: none;
	}

	.offices-block .mobile_kz_map_img {
		display: block;
		margin-top: 20px;
        width: 480px;
        height: 250px;
	}

	.coffee-block {
		height: 200px;
	}
}

@media(max-width: 500px) {
    .slider_block {
		height: 375px;
	}

	.categories_block .category_card {
		width: 170px;
	}

	.certificate-block {
		height: 460px;
		background-image: url("/static/imgs/mini_certificate_bg_img.jpg");
		flex-direction: column;
	}

	.certificate-block img, .certificate-block .text {
	    width: 280px;
	    margin: auto;
	}

	.certificate-block img {
		margin-bottom: 0px;
	}

	.certificate-block .text {
		margin-top: 0px;
	}

	.certificate-block .text h1 {
	    font-size: 20px;
	}

	.certificate-block .text p {
	    font-size: 17px;
	}

	.categories_block .category_card .category_card_img {
		width: 95px;
	}

	.coffee-block {
		background-image: url(/static/imgs/coffee2.jpg);
		height: 465px;
	}

	.coffee-container {
	    padding: 30px;
	}

	.coffee-container h4 {
	    width: 285px;
	}

	.offices-block .mobile_kz_map_img {
        width: 350px;
        height: 200px;
	}

	.certificate-block button {
	    width: 190px;
	    font-size: 17px;
	}
}
