{% load static %}

<div class="block" id="book">
	<div class="container book-block">
		<div class="book_main_block">
			<div class="book_poster_img" style="background-image: url({{ book.poster }});"></div>
			<div class="text">
				<h3>{{ book.name }}</h3>

				<div class="options">
					{% for option in book.options %}
					<div class="option">
						<span class="option_label">{{ option.label }}</span>
						<span class="option_value"><b>{{ option.value }}</b></span>
					</div>
					{% endfor %}
				</div>

				<div style="display: flex; align-items: baseline;">
					<input type="number" class="counter" placeholder="саны">
					<h3>{{ book.price }} тг</h3>
				</div>

				<div class="action_btns">
					<input type="number" placeholder="саны" id="book_page_count_input">
					<button class="buy_btn" onclick="buy_book({{ book.id }}, document.getElementById('book_page_count_input').value)">Тапсырыс беру</button>
					<button class="cart_btn" onclick="add_to_cart({{ book.id }}, document.getElementById('book_page_count_input').value)">Корзинаға салу</button>
				</div>
			</div>
		</div>

		<div class="options mobile_options">
			{% for option in book.options %}
			<div class="option">
				<span class="option_label">{{ option.label }}</span>
				<span class="option_value"><b>{{ option.value }}</b></span>
			</div>
			{% endfor %}
		</div>

		<h3>Толығырақ</h3>

		<div>{% autoescape off %}{{ book.description }}{% endautoescape %}</div>

		<h3>ОСЫ КАТЕГОРИЯДАҒЫ КІТАПТАР</h3>

		{% include 'book_cards.html' %}

		<div class="see_all_books_btn">
			<button onclick="window.location.href = '/category/?category={{ book.category }}'">Барлығын қарау</button>
		</div>
	</div>
</div>