<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<link rel="stylesheet" href="/static/css/login.css">
</head>
<body class="asyl">
	<form method="post">
		{% csrf_token %}
		<div class="login_form">
			<b>Войти</b>

			<div class="asyl_inputs">
				<input type="text" placeholder="Логин" name="username" required>

				<input type="password" placeholder="Пароль" name="password" required>

				<input type="submit" value="Войти">
			</div>
		</div>
	</form>
</body>
</html>