{% extends 'base.html' %}

{% block body %}
	<div class="block">
		<div class="container books-block">
			<div style="display: flex; margin: 0px 0px 20px 0">
				<img src="{% static 'imgs/heart2.png' %}" alt="" style="height: 20px; margin-right: 8px">
				<h3 style="margin: 0px">Таңдаулы кітаптар</h3>
			</div>

			<div id="books">
				{% include 'book_cards.html' %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/wishlist_page/index.js' %}"></script>
{% endblock %}